# Freeze these project as they tend to break stuff with update
langchain==0.0.274 # there's a release every day, I don't have time for thsi
chromadb==0.3.29 # Version 0.4 remove stuff used by this project
ctransformers[cuda]==0.2.26

# LLM related
sentence-transformers
huggingface_hub
transformers

# Parsing documents
unstructured # plain text files, HTML, XML, JSON and Emails. Unstructured support also other documents if you install the right dependencies https://pypi.org/project/unstructured/
pdfminer.six==20221105 # PDF
# openpyxl # Excel
# docx2txt # docx

# Utilities
click
streamlit
Streamlit-extras



